.footer {
  height: 50px;
  color: #F5515F;
  flex-shrink: 0; /* make sure footer doesn't shrink */
}
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

